{% extends 'layouts/base.njk' %}

{% block main %}
  <h2>
    Ummm. We don't know. Maybe it melted?
  </h2>
  <div class="gone">
    {%  include "svg/melted.svg" %}
  </div>
  <p>
    <a href="/create" class="btn">Make a new {{ localize["lollipop"] }} to send to a friend</a>
  </p>
{% endblock %}
