---
layout: layouts/base.njk
pageClass: lolly
templateEngineOverride: njk, md
---

<h2 id="status">For you!</h2>

<div class="lolly">
  <h3 id="recipient">{{ item.data.recipientName }}</h3>
  <div id="message">{{ item.data.message }}</div>
  <div id="lollyimage">{{ item.data.lollyType }}</div>
  <div id="from">{{ item.data.sendersName }}</div>
</div>


