{% extends 'layouts/base.njk' %}

{% block main %}
  <p id="status" class="bytheway"></p>
  <div class="lolly">
    {%  include "tricolour.svg" %}
    <div class="info">
      <div class="details">
        <p id="recipient" class="recipient"></p>
        <div id="message" class="message"></div>
        <p id="from" class="from"></p>
      </div>
      <p class="bytheway"><span class="from">{{ item.data.sendersName }}</span> made this virtual lollipop for you. You can <a href="/create">make your own</a> to send to a friend who deserve some sugary treat which won't rot their teeth</p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% set js %}
    {% include "js/core.js" %}
    {% include "js/getLollyData.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
{% endblock %}

