---
title: Get Yours
layout: layouts/base.njk
subtitle: Give someone some sugar
---

<h2> Make a new lolly</h2>

<form name="new-lolly" action="/new" method="POST">

  <label for="recipientName">To</label>
  <input type="text" id="recipientName" name="recipientName" placeholder="A lolly for..." />

  <select name="lollyType" id="lollyType">
    <option value="lemonpop">Lemon pop</option>
    <option value="icecreamcone">Ice cream cone</option>
    <option value="zoom">Zoom</option>
  </select>

  <label for="message">A lovely message</label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>

  <label for="sendersName">From</label>
  <input type="text" id="sendersName" name="sendersName" placeholder="from your friend..." />

  <input type="submit" value="Make a lolly">

</form>

