---
title: Get Yours
layout: layouts/base.njk
subtitle: Give someone some sugar
---

<h2> Make a new lolly</h2>

<form name="new-lolly" action="/.netlify/functions/newLolly" method="POST">

  <label for="recipientname">To</label>
  <input type="text" id="recipientname" name="recipientname" placeholder="A lolly for..." />

  <select name="lollytype" id="lollytype">
    <option value="lemonpop">Lemon pop</option>
    <option value="icecreamcone">Ice cream cone</option>
    <option value="zoom">Zoom</option>
  </select>

  <label for="message">A lovely message</label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>

  <label for="sendersname">From</label>
  <input type="text" id="sendersname" name="sendersname" placeholder="from your friend..." />

  <input type="submit" value="Make a lolly">

</form>

