---
title: Fetch lolly
layout: layouts/lolly.njk
subtitle: Give someone some sugar
permalink: lolly/fetch/index.html
---

<h2 id="status">Checking the freezer...</h2>

<div class="lolly">
  <h3 id="recipient"></h3>
  <div id="message"></div>
  <div id="lollyimage"></div>
  <div id="from"></div>
</div>

