---
title: Virtual Lollipop
subtitle: We all know someone who deserves a lolly for being awesome
layout: layouts/base.njk
---


<ul>
{% for lolly in lollies %}
<li><a href="/lolly/{{ lolly.data.lollyPath }}">For {{ lolly.data.recipientName }} - /lolly/{{ lolly.data.lollyPath }}</a></li>
{% endfor %}
</ul>
