---
title: Virtual Lollipop
layout: layouts/base.njk
---


<div class="thumbs">
  <div class=" example example-red">
    {%  include "svg/lolly-image.svg" %}
  </div>
  <div class="example example-tropical">
    {%  include "svg/lolly-image.svg" %}
  </div>
  <div class="example example-green">
    {%  include "svg/lolly-image.svg" %}
  </div>
  <div class="example example-mixed">
    {%  include "svg/lolly-image.svg" %}
  </div>
  <div class="example example-french">
    {%  include "svg/lolly-image.svg" %}
  </div>
</div>

<p>
  <a href="/create" class="btn">Make a new lollipop to send to a friend</a>
</p>


