---
layout: layouts/lolly.njk
pagination:
  data: lollies
  size: 1
  alias: item
permalink: lolly/{{ item.data.lollyPath }}/index.html
---

11ty seems to need something in this body... even if my template kills it.



