@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");
@import "_variables.css";

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: "open-sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background: $page-color;

  @media (min-width: $narrow) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media (min-width: $mid) {
    width: 700px;
  }
  @media (min-width: $wide) {
    width: 800px;
  }
}

h1,
h2,
h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 3em;
  margin-bottom: 0.2em;
  line-height: 1;
}
h1 {
  font-family: "Yellowtail", cursive;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 4.5em;
  }
  @media (min-width: $wide) {
    font-size: 5em;
  }
}

h1.title a {
  font-weight: 300;
  color: #fff;
  border-bottom-style: none;
  text-shadow: $accent-color 0 0 8px;

  &:hover,
  &:focus {
    text-shadow: $accent-color 0 0 16px;
  }
}

.subtitle {
  font-size: 1em;
  font-style: italic;
  color: #ddd;
  text-shadow: $accent-color 1px 1px 4px;
  margin-top: 1.5em;
  margin-bottom: 3em;
  line-height: 1.2;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul,
ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

header {
  text-align: center;
}

main {
  margin-top: 4em;
}

footer {
  margin-top: 10em;
  margin-bottom: 5em;
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

.lolly {
  text-align: center;
  filter: drop-shadow(0px 0px 10px #000);

  @media (min-width: $mid) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.giftLolly .lollipop {
  margin-bottom: -4em;
  @media (min-width: $mid) {
    margin-bottom: 0em;
  }
}

.info {
  @media (min-width: $mid) {
    margin-left: 4em;
  }
}

.details {
  padding: 1em 2em;
  margin-bottom: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
  text-align: left;
  font-style: italic;
  font-size: 1.1em;
}

.recipient,
.from {
  font-family: "Yellowtail", cursive;
  font-size: 1.6em;
  font-style: normal;
  text-shadow: #000 0 0 10px;
}
.from {
  padding-left: 2em;
}

.bytheway {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.6);
  @media (min-width: $mid) {
    font-size: 0.8em;
  }
}

.flavours {
  margin-bottom: 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: $mid) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3em;
  }
}

form {
  padding-bottom: 3em;
}

.pickerLabel {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  border: solid 2px #fff;
  display: block;
  overflow: hidden;
  margin: 30px;
  box-shadow: #000 0 0 14px;
}
.colourpicker {
  height: 60px;
  width: 60px;
  margin-top: -10px;
  margin-left: -10px;
  cursor: pointer;
}

label {
  font-family: sans-serif;
  font-size: 0.8em;
  display: block;
  color: #bbb;
  margin-bottom: 0.2em;
  font-style: normal;
}

input[type="text"],
textarea {
  font-size: 0.9em;
  width: 100%;
  padding: 0.4em 0.2em;
  margin: 0 -0.2em;
  border: solid 1px $accent-color;
  color: #fff;
  background-color: #222;
  box-shadow: $accent-color 0 0 6px;
}

a.btn,
input[type="submit"] {
  margin-top: 1em;
  box-shadow: $accent-color 0 0 6px;
  border: solid 2px $accent-color;
  background-color: transparent;
  font-size: 0.9em;
  color: $accent-color;
  padding: 1em 2em;
  border-radius: 4em;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $accent-color;
    color: #222;
  }
}

pre {
  color: $accent-color;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: solid 1px #000;
  background-color: #000;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;

  .lollipop {
    height: 180px;
    @media (min-width: $mid) {
      height: 300px;
    }
  }

  .example {
    margin: 0 -45px;
    @media (min-width: $mid) {
      margin: 0 -10px;
    }
  }
}

.example-red {
  .lollyTop {
    fill: #e97393;
  }
  .lollyMiddle {
    fill: #d23a62;
  }
  .lollyBottom {
    fill: #bb1161;
  }
}
.example-green {
  .lollyTop {
    fill: #97e665;
  }
  .lollyMiddle {
    fill: #8ccb4c;
  }
  .lollyBottom {
    fill: #a8d838;
  }
}
.example-mixed {
  .lollyTop {
    fill: #feefd6;
  }
  .lollyMiddle {
    fill: #b65ae4;
  }
  .lollyBottom {
    fill: #c116c1;
  }
}
.example-french {
  .lollyTop {
    fill: #cd2753;
  }
  .lollyMiddle {
    fill: #d5cfd1;
  }
  .lollyBottom {
    fill: #5ba3da;
  }
}
.example-tropical {
  .lollyTop {
    fill: #ed265b;
  }
  .lollyMiddle {
    fill: #f77249;
  }
  .lollyBottom {
    fill: #f5c64d;
  }
}

.gone {
  margin-top: 4em;
  margin-bottom: 4em;
}

.github-corner svg {
  fill: $accent-color;
  color: $page-color;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
